<footer>
    <div class="container p-5">
        <div class="row">
            <div class="col-3">
                <img class="footer-logo mb-4" src="/images/logo/logo.png" alt="Logo">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-3">
                <h3>Quick Links</h3>
                <ul class="list-unstyled row">
                    <li class="col-6 mt-2" href="">Home</a></li>
                    <li class="col-6 mt-2" href="about">About</a></li>
                    <li class="col-6 mt-2" href="course">Courses</a></li>
                    <li class="col-6 mt-2" href="news">News</a></li>
                    <li class="col-6 mt-2" href="contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3>About Us</h3>
                <ul class="list-unstyled row">
                    <li class="col-6 mt-2" href="">Our Team</a></li>
                    <li class="col-6 mt-2" href="">Join us</a></li>
                    <li class="col-6 mt-2" href="">Privacy Policy</a></li>
                    <li class="col-6 mt-2" href="">Testimonial</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                    <li class="mt-2"><i class="bi bi-house-fill"></i> CLB Robotics & IoT, Room No.86, 8th Floor, I Building, University of Science, VNUHCM</li>
                    <li class="mt-2"><i class="bi bi-geo-alt-fill"></i> Address: 227 Nguyen Van Cu, Phuong 4, Quan 5, Tp HCM</li>
                    <li class="mt-2"><i class="bi bi-phone-fill"></i> Phone: (028) 38 325 929</li>
                    <li class="mt-2"><i class="bi bi-telephone-fill"></i> Hotline/Zalo: 0366 399 748</li>
                    <li class="mt-2"><i class="bi bi-envelope-fill"></i> Email: robotics@hcmus.edu.vn</li>
                    {{!-- <li class="mt-2"><i class="bi bi-facebook"></i> Fanpage: facebook.com/RoboticsHCMUS</li> --}}
                </ul>
            </div>
        </div>
    </div>
</footer>