
{{!-- Wall --}}
<div class="wall position-relative">
    <div class="wallpaper"></div>
    <div class="wall-content position-absolute top-50 start-50 translate-middle text-center text-white">
        <p class="fs-4">VNUHCM - University of Science</p>
        <h1>Robotics & IoT</h1>
        <p class="fs-5 m-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        <a class="wall-btn wall-btn_1">REGISTER NOW</a>
        <a class="wall-btn wall-btn_2">VIEW COURSES</a>
    </div>
</div>

{{!-- About --}}
<section class="about">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-5">
                <h2 class="mb-4">Robotics & IoT HCMUS</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="mt-4 primary-btn" href=""></a>
            </div>
            <div class="col-6 row about-img">
                <div class="col-6"><img src="/images/bg/wallpaper-1.jpg" alt=""></div>
                <div class="col-6"><img src="/images/bg/wallpaper-0.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>

{{!-- Intro images --}}
<div class="intro">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 g-0 position-relative">
                <img src="/images/bg/wallpaper-1.jpg" alt="">
                <p class="position-absolute top-50 start-50 translate-middle text-white fs-3">WEDO</p>
            </div>
            <div class="col-3 g-0 position-relative">
                <img src="/images/bg/wallpaper-0.jpg" alt="">
                <p class="position-absolute top-50 start-50 translate-middle text-white fs-3">SPIKE Prime</p>
            </div>
            <div class="col-3 g-0 position-relative">
                <img src="/images/bg/wallpaper-1.jpg" alt="">
                <p class="position-absolute top-50 start-50 translate-middle text-white fs-3">Mindstorms</p>
            </div>
            <div class="col-3 g-0 position-relative">
                <img src="/images/bg/wallpaper-0.jpg" alt="">
                <p class="position-absolute top-50 start-50 translate-middle text-white fs-3">Arduino</p>
            </div>
        </div>
    </div>
</div>

{{!-- Courses --}}
<section class="courses">
    <div class="container">
        <h2 class="text-center">Programming courses at Robotics & IoT Club</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
        <div class="row mt-5">
            <div class="col-4">
                <div class="course-container m-2 mb-5">
                    <img class="course-img" src="/images/bg/wallpaper-1.jpg" alt="">
                    <div class="course-info m-4">
                        <h3>Course Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="row">
                            <p class="col-4"><span>12-21</span>Years old</p>
                            <p class="col-4"><span>8</span>Classes</p>
                            <p class="col-4"><span>2h</span>1 class</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="course-container m-2 mb-5">
                    <img class="course-img" src="/images/bg/wallpaper-0.jpg" alt="">
                    <div class="course-info m-4">
                        <h3>Course Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="row">
                            <p class="col-4"><span>12-21</span>Years old</p>
                            <p class="col-4"><span>8</span>Classes</p>
                            <p class="col-4"><span>2h</span>1 class</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="course-container m-2 mb-5">
                    <img class="course-img" src="/images/bg/wallpaper-1.jpg" alt="">
                    <div class="course-info m-4">
                        <h3>Course Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="row">
                            <p class="col-4"><span>12-21</span>Years old</p>
                            <p class="col-4"><span>8</span>Classes</p>
                            <p class="col-4"><span>2h</span>1 class</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="course-container m-2 mb-5">
                    <img class="course-img" src="/images/bg/wallpaper-0.jpg" alt="">
                    <div class="course-info m-4">
                        <h3>Course Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="row">
                            <p class="col-4"><span>12-21</span>Years old</p>
                            <p class="col-4"><span>8</span>Classes</p>
                            <p class="col-4"><span>2h</span>1 class</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="course-container m-2 mb-5">
                    <img class="course-img" src="/images/bg/wallpaper-1.jpg" alt="">
                    <div class="course-info m-4">
                        <h3>Course Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="row">
                            <p class="col-4"><span>12-21</span>Years old</p>
                            <p class="col-4"><span>8</span>Classes</p>
                            <p class="col-4"><span>2h</span>1 class</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="course-container m-2 mb-5">
                    <img class="course-img" src="/images/bg/wallpaper-0.jpg" alt="">
                    <div class="course-info m-4">
                        <h3>Course Name</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <div class="row">
                            <p class="col-4"><span>12-21</span>Years old</p>
                            <p class="col-4"><span>8</span>Classes</p>
                            <p class="col-4"><span>2h</span>1 class</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="primary-btn" href=""></a>
    </div>
</section>

{{!-- Features --}}
<section class="features">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-5 pe-5">
                <h2>Making you lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                <p class="mt-4 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <div class="row features-item mt-4">
                    <div class="col-2"><i class="bi bi-check2-circle"></i></div>
                    <div class="col-10">
                        <p class="fs-3 m-0">Lorem ipsum</p>
                        <p>Malesuada elementum curabitur massa pellentesque fames at dui eu justo</p>    
                    </div>
                </div>
                <div class="row features-item mt-4">
                    <div class="col-2"><i class="bi bi-check2-circle"></i></div>
                    <div class="col-10">
                        <p class="fs-3 m-0">Lorem ipsum</p>
                        <p>Malesuada elementum curabitur massa pellentesque fames at dui eu justo</p>    
                    </div>
                </div>
                <div class="row features-item mt-4">
                    <div class="col-2"><i class="bi bi-check2-circle"></i></div>
                    <div class="col-10">
                        <p class="fs-3 m-0">Lorem ipsum</p>
                        <p>Malesuada elementum curabitur massa pellentesque fames at dui eu justo</p>    
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img class="features-img" src="/images/bg/wallpaper-1.jpg" alt="">
            </div>
        </div>
    </div>
</section>

{{!-- Review --}}
<div class="review">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="review-img" src="/images/bg/wallpaper-0.jpg" alt="">
            </div>
            <div class="col-6 position-relative">
                <div class="review-wrapper text-center position-absolute top-50 end-0 translate-middle-y">
                    <i class="bi bi-quote"></i>
                    <h2>What they say</h2>
                    <div class="review-content m-5 px-5">
                        <p class="fs-5 fst-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        <div class="reviewer d-flex justify-content-center">
                            <img src="/images/bg/wallpaper-0.jpg" alt="" class="reviewer-avt">
                            <div class="text-start ms-4 d-flex flex-column justify-content-center">
                                <p class="reviewer-name m-0">Lorem Ipsum</p>
                                <p class="reviewer-pos m-0">Teacher</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Team --}}
<section class="team">
    <div class="container text-center">
        <h2>Meet our team</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <div class="row mt-5">
            <div class="col-4 position-relative">
                <div class="team-info pb-1 m-2">
                    <img src="/images/bg/wallpaper-0.jpg" alt="">
                    <p class="fs-5 mt-4 mb-0">Teacher name</p>
                    <p>Lorem ipsum</p>
                </div>
                <div class="team-links position-absolute d-flex flex-column">
                    <div><a href=""><i class="bi bi-facebook"></i></a></div>
                    <div><a href=""><i class="bi bi-instagram"></i></a></div>
                    <div><a href=""><i class="bi bi-linkedin"></i></a></div>
                </div>
            </div>
            <div class="col-4 position-relative">
                <div class="team-info pb-1 m-2">
                    <img src="/images/bg/wallpaper-1.jpg" alt="">
                    <p class="fs-5 mt-4 mb-0">Teacher name</p>
                    <p>Lorem ipsum</p>
                </div>
                <div class="team-links position-absolute d-flex flex-column">
                    <div><a href=""><i class="bi bi-facebook"></i></a></div>
                    <div><a href=""><i class="bi bi-instagram"></i></a></div>
                    <div><a href=""><i class="bi bi-linkedin"></i></a></div>
                </div>
            </div>
            <div class="col-4 position-relative">
                <div class="team-info pb-1 m-2">
                    <img src="/images/bg/wallpaper-2.jpg" alt="">
                    <p class="fs-5 mt-4 mb-0">Teacher name</p>
                    <p>Lorem ipsum</p>
                </div>
                <div class="team-links position-absolute d-flex flex-column">
                    <div><a href=""><i class="bi bi-facebook"></i></a></div>
                    <div><a href=""><i class="bi bi-instagram"></i></a></div>
                    <div><a href=""><i class="bi bi-linkedin"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Schedule --}}
<section class="schedule">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="p-5 time-table">
                        <h2 class="mb-4">Opening hours</h2>
                        <div class="d-flex justify-content-between py-3"><span>Sunday</span><span class="special">Close</span></div>
                        <div class="d-flex justify-content-between py-3"><span>Monday</span><span class="special">1:00 PM to 8:00 PM</span></div>
                        <div class="d-flex justify-content-between py-3"><span>Tuesday</span><span>8:00 AM to 8:00 PM</span></div>
                        <div class="d-flex justify-content-between py-3"><span>Wednesday</span><span>8:00 AM to 8:00 PM</span></div>
                        <div class="d-flex justify-content-between py-3"><span>Thursday</span><span>8:00 AM to 8:00 PM</span></div>
                        <div class="d-flex justify-content-between py-3"><span>Friday</span><span>8:00 AM to 8:00 PM</span></div>
                        <div class="d-flex justify-content-between py-3"><span>Saturday</span><span>8:00 AM to 8:00 PM</span></div>
                    </div>
                </div>
            <div class="col-5">
                <img src="/images/bg/wallpaper-0.jpg" alt="">
            </div>
            <div class="col-3">
                <img src="/images/bg/wallpaper-1.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<div class="outro container-fluid">
    <div class="row">
        <div class="col-2 g-0">
            <img src="/images/bg/wallpaper-0.jpg" alt="">
        </div>
        <div class="col-2 g-0">
            <img src="/images/bg/wallpaper-0.jpg" alt="">
        </div>
        <div class="col-2 g-0">
            <img src="/images/bg/wallpaper-0.jpg" alt="">
        </div>
        <div class="col-2 g-0">
            <img src="/images/bg/wallpaper-0.jpg" alt="">
        </div>
        <div class="col-2 g-0">
            <img src="/images/bg/wallpaper-0.jpg" alt="">
        </div>
        <div class="col-2 g-0">
            <img src="/images/bg/wallpaper-0.jpg" alt="">
        </div>
    </div>
</div>

<script src="/javascript/home.js"></script>